autopep8==1.6.0
certifi==2022.6.15
charset-normalizer==2.0.12
colorama==0.4.5
dill==0.3.5.1
guidata==2.3.0
guiqwt==4.3.0
idna==3.3
loguru==0.6.0
lxml==4.9.0
multiprocess==0.70.13
numpy==1.23.0
packaging==21.3
pathos==0.2.9
Pillow==9.1.1
pox==0.3.1
ppft==1.7.6.5
pycodestyle==2.8.0
PyExecJS==1.5.1
pynput==1.7.6
pyparsing==3.0.9
pyqt-tools==1.0.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQt6==6.3.1
PyQt6-Qt6==6.3.1
PyQt6-sip==13.4.0
PythonQwt==0.10.2
pywin32 @ file:///C:/YandexDisk/Prog/Python/Forms/translate/venv/Scripts/pywin32-304.0-cp310-cp310-win_amd64.whl
QtPy==2.1.0
requests==2.28.0
scipy==1.8.1
six==1.16.0
toml==0.10.2
translate-api==4.9.5
urllib3==1.26.9
win32-setctime==1.1.0
